<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div>
        <h1>Home Page</h1>
        <p>Hello, {{ name }}, and these are my favorite things.</p>
        <img src="/images/77a94a79-a5d2-4eb0-a23f-9ab55482ad02.webp" alt="">
        <p> This is a Guitar, specifically a Schecter Damien 7 Multiscale, 
            the angled frets make it an extremely erganomic guitar and comfortable to play.
        </p>
        <img src="/images/txcrxg8uakp51-scaled.jpg" alt="">
        <p> One of the best handling cars I've ever driven with insane modding capability would do anything to own this bad boy again</p>
        <img src="/images/2022-02-07_CZr5KfeP2W5_2768557805588669881.jpg" alt="">
        <p> Video games have been my place and choice of escape since I was a kid, a great stress relief and place to have fun!</p>
        <img src="/images/photo-1511882150382-421056c89033.jpg" alt="">
        <p> Keyboards make all kinda of different sounds, fom thocks to clacks and twacks, satisfying to hear and type!</p>
        <img src="/images/180413-joe-manganiello-dungeons-dragons-ew-528p.jpg" alt="">
        <p> Dungeons and dragons, the place where you can be someone completely different, experience thrilling adventures and heartwarming
            stories, the thrill and frill of dnd awaits!
        </p>
    </div>
    <script type="text/javascript" src="{{url_for('satic', filename='index.js')}}"></script>
</body>
</html>